<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span>Address</span> {{ address.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Number House</span></dt>
                <dd>
                    <span>{{ address.numberHouse }}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{ address.street }}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{ address.district }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ address.city }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
