<div>
    <h2 id="page-heading">
        <span>Account 1 S</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-account-1" [routerLink]="['/account-1/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Account 1
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="account1s?.length === 0">
        <span>No account1s found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="account1s && account1s.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Username</span></th>
                    <th scope="col" ><span>Password</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account1 of account1s ;trackBy: trackId">
                    <td><a [routerLink]="['/account-1', account1.id, 'view']">{{ account1.id }}</a></td>
                    <td>{{ account1.username }}</td>
                    <td>{{ account1.password }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/account-1', account1.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/account-1', account1.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(account1)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
