<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shipping-heading">Create or edit a Shipping</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_free">Free</label>
                    <input type="number" class="form-control" name="free" id="field_free"
                           formControlName="free"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_receiveDate">Receive Date</label>
                    <input type="text" class="form-control" name="receiveDate" id="field_receiveDate"
                           formControlName="receiveDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shippingStatus">Shipping Status</label>
                    <input type="text" class="form-control" name="shippingStatus" id="field_shippingStatus"
                           formControlName="shippingStatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shippingType">Shipping Type</label>
                    <input type="text" class="form-control" name="shippingType" id="field_shippingType"
                           formControlName="shippingType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="order">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderOption.id === editForm.get('order')!.value?.id ? editForm.get('order')!.value : orderOption" *ngFor="let orderOption of orders; trackBy: trackById">{{ orderOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payment">Payment</label>
                    <select class="form-control" id="field_payment" name="payment" formControlName="payment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('payment')!.value?.id ? editForm.get('payment')!.value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackById">{{ paymentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
