<div>
    <h2 id="page-heading">
        <span>Shippings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipping" [routerLink]="['/shipping/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Shipping
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shippings?.length === 0">
        <span>No shippings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shippings && shippings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Free</span></th>
                    <th scope="col" ><span>Receive Date</span></th>
                    <th scope="col" ><span>Shipping Status</span></th>
                    <th scope="col" ><span>Shipping Type</span></th>
                    <th scope="col" ><span>Order</span></th>
                    <th scope="col" ><span>Payment</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shipping of shippings ;trackBy: trackId">
                    <td><a [routerLink]="['/shipping', shipping.id, 'view']">{{ shipping.id }}</a></td>
                    <td>{{ shipping.free }}</td>
                    <td>{{ shipping.receiveDate }}</td>
                    <td>{{ shipping.shippingStatus }}</td>
                    <td>{{ shipping.shippingType }}</td>
                    <td>
                        <div *ngIf="shipping.order">
                            <a [routerLink]="['/order', shipping.order?.id, 'view']" >{{ shipping.order?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shipping.payment">
                            <a [routerLink]="['/payment', shipping.payment?.id, 'view']" >{{ shipping.payment?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shipping', shipping.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shipping', shipping.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shipping)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
