<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shipping">
            <h2><span>Shipping</span> {{ shipping.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Free</span></dt>
                <dd>
                    <span>{{ shipping.free }}</span>
                </dd>
                <dt><span>Receive Date</span></dt>
                <dd>
                    <span>{{ shipping.receiveDate }}</span>
                </dd>
                <dt><span>Shipping Status</span></dt>
                <dd>
                    <span>{{ shipping.shippingStatus }}</span>
                </dd>
                <dt><span>Shipping Type</span></dt>
                <dd>
                    <span>{{ shipping.shippingType }}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <div *ngIf="shipping.order">
                        <a [routerLink]="['/order', shipping.order?.id, 'view']">{{ shipping.order?.id }}</a>
                    </div>
                </dd>
                <dt><span>Payment</span></dt>
                <dd>
                    <div *ngIf="shipping.payment">
                        <a [routerLink]="['/payment', shipping.payment?.id, 'view']">{{ shipping.payment?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shipping', shipping.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
