<div>
    <h2 id="page-heading">
        <span>Carts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart" [routerLink]="['/cart/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cart
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="carts?.length === 0">
        <span>No carts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="carts && carts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Total</span></th>
                    <th scope="col" ><span>Quantity</span></th>
                    <th scope="col" ><span>Customer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of carts ;trackBy: trackId">
                    <td><a [routerLink]="['/cart', cart.id, 'view']">{{ cart.id }}</a></td>
                    <td>{{ cart.total }}</td>
                    <td>{{ cart.quantity }}</td>
                    <td>
                        <div *ngIf="cart.customer">
                            <a [routerLink]="['/customer', cart.customer?.id, 'view']" >{{ cart.customer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cart', cart.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cart', cart.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cart)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
