<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span>Item</span> {{ item.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{ item.discount }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ item.price }}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ item.quantity }}</span>
                </dd>
                <dt><span>Cart</span></dt>
                <dd>
                    <div *ngIf="item.cart">
                        <a [routerLink]="['/cart', item.cart?.id, 'view']">{{ item.cart?.id }}</a>
                    </div>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <div *ngIf="item.order">
                        <a [routerLink]="['/order', item.order?.id, 'view']">{{ item.order?.id }}</a>
                    </div>
                </dd>
                <dt><span>Book</span></dt>
                <dd>
                    <div *ngIf="item.book">
                        <a [routerLink]="['/book', item.book?.id, 'view']">{{ item.book?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
