<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span>Book</span> {{ book.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ book.name }}</span>
                </dd>
                <dt><span>Price Entry</span></dt>
                <dd>
                    <span>{{ book.priceEntry }}</span>
                </dd>
                <dt><span>Date Of Etry</span></dt>
                <dd>
                    <span>{{ book.dateOfEtry }}</span>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    <span>{{ book.author }}</span>
                </dd>
                <dt><span>Bar Code</span></dt>
                <dd>
                    <span>{{ book.barCode }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
