<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{ customer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ customer.email }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ customer.phoneNumber }}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{ customer.dateOfBirth }}</span>
                </dd>
                <dt><span>Sex</span></dt>
                <dd>
                    <span>{{ customer.sex }}</span>
                </dd>
                <dt><span>Account</span></dt>
                <dd>
                    <div *ngIf="customer.account">
                        <a [routerLink]="['/account-1', customer.account?.id, 'view']">{{ customer.account?.id }}</a>
                    </div>
                </dd>
                <dt><span>Full Name</span></dt>
                <dd>
                    <div *ngIf="customer.fullName">
                        <a [routerLink]="['/full-name', customer.fullName?.id, 'view']">{{ customer.fullName?.id }}</a>
                    </div>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <div *ngIf="customer.address">
                        <a [routerLink]="['/address', customer.address?.id, 'view']">{{ customer.address?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
