<div>
    <h2 id="page-heading">
        <span>Payments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment" [routerLink]="['/payment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Payment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="payments?.length === 0">
        <span>No payments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="payments && payments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Total</span></th>
                    <th scope="col" ><span>Payment Date</span></th>
                    <th scope="col" ><span>Order</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments ;trackBy: trackId">
                    <td><a [routerLink]="['/payment', payment.id, 'view']">{{ payment.id }}</a></td>
                    <td>{{ payment.total }}</td>
                    <td>{{ payment.paymentDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="payment.order">
                            <a [routerLink]="['/order', payment.order?.id, 'view']" >{{ payment.order?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment', payment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment', payment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(payment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
