<div>
    <h2 id="page-heading">
        <span>Full Names</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-full-name" [routerLink]="['/full-name/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Full Name
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fullNames?.length === 0">
        <span>No fullNames found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fullNames && fullNames.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>First Name</span></th>
                    <th scope="col" ><span>Last Name</span></th>
                    <th scope="col" ><span>Mid Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fullName of fullNames ;trackBy: trackId">
                    <td><a [routerLink]="['/full-name', fullName.id, 'view']">{{ fullName.id }}</a></td>
                    <td>{{ fullName.firstName }}</td>
                    <td>{{ fullName.lastName }}</td>
                    <td>{{ fullName.midName }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/full-name', fullName.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/full-name', fullName.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fullName)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
